@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #111827;
  --foreground-secondary: #374824;
  --primary: #0075eb;
  --secondary: #9ca3af;
  --favorite: #ffd600;
}

@theme {
  --font-helvetica: var(--font-helvetica);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-favorite: var(--favorite);
}

body {
  background: var(--background);
  color: var(--foreground);
}
