@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
  --primary: #0075EB;
  --secondary: #9CA3AF;
}

@theme {
  --font-helvetica: var(--font-helvetica);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

body {
  background: var(--background);
  color: var(--foreground);
}
